*.domains
*.tmp
*.csv
*.txt
*.json
*.gz
old/
# see https://github.com/Kagee/domain-checker
domain-checker/
# Storage-symlink for massive (>2gb datafiles)
storage
wayback/data-uniq/
wayback/data-ok/
wayback/data/
alexa/top-1m.csv.zip
!no-test.txt
!test.txt
